%h3 Sign Up

=form_for @user do |f|
  =if @user.errors.any?
    .error-messages
      %h2 Form is invalid
      %ul
        = for message in @user.errors.full_messages
          %li= message
  %p
    =f.label :email
    =f.text_field :email
    =f.label :password
    =f.password_field :password  
  .button
    =f.submit "Sign Up", class: "btn btn-submit"