%h1 Sign Up

=form_for @user do |f|
  =if @user.errors.any?
    .error-messages
      %h2 Form is invalid
      %ul
        = for message in @user.errors.full_messages
          %li= message
  %p
    =f.label :email
    %br
    =f.text_field :email
  %p
    =f.label :password
    %br
    =f.password_field :password  
  .button
    =f.submit
    or 
    =link_to "Login", login_path